In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option("display.max_columns",None)
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

ModuleNotFoundError: No module named 'Statsmodels'

# **Load Dataset**

In [49]:
data= pd.read_csv("D:\Machine Learning\heart_attack_russia_youth_vs_adult.csv")
data

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\sharm\AppData\Local\Temp\ipykernel_17684\2506713694.py:1: SyntaxWarning: invalid escape sequence '\M'
  data= pd.read_csv("D:\Machine Learning\heart_attack_russia_youth_vs_adult.csv")
C:\Users\sharm\AppData\Local\Temp\ipykernel_17684\2506713694.py:1: DtypeWarning: Columns (9,11,12,14,15,16,25,29) have mixed types. Specify dtype option on import or set low_memory=False.
  data= pd.read_csv("D:\Machine Learning\heart_attack_russia_youth_vs_adult.csv")

,ID,Age,Gender,Region,Blood_Pressure,Cholesterol,BMI,Heart_Rate,Exercise_Level,Smoking,Alcohol_Consumption,Diabetes,Family_History,Stress_Level,Heart_Attack,Angina,Heart_Disease_History,Diet,Sleep_Hours,Occupation,Income_Level,Physical_Activity,Education_Level,Marital_Status,Urban_Rural,Medication,Health_Awareness,Daily_Water_Intake,Mental_Health,Obesity
0,1.0,50,Male,Rural,110.0,196.5,15.9,76.0,High,False,Moderate,False,False,8.0,False,False,False,Unhealthy,9.4,Unemployed,Low,Low,Primary,Married,Rural,False,5.0,2.3,5.0,False
1,2.0,40,Female,Urban,138.8,157.5,27.1,82.0,Moderate,False,NaN,False,True,5.0,False,True,False,Unhealthy,5.5,Employed,Low,Moderate,Higher,Married,Urban,False,1.0,5.0,4.0,False
2,3.0,26,Male,Rural,116.0,210.1,27.2,71.0,Moderate,False,Moderate,True,False,8.0,False,False,False,Unhealthy,8.8,Employed,Middle,High,Primary,Married,Urban,False,4.0,2.4,8.0,False
3,4.0,54,Female,Rural,133.5,170.5,26.0,74.0,Moderate,True,Moderate,False,True,5.0,False,False,False,Healthy,8.2,Student,Middle,Moderate,Higher,Married,Urban,False,2.0,2.7,6.0,True
4,5.0,19,Female,Urban,108.0,224.5,27.5,67.0,Low,False,NaN,False,True,1.0,False,False,False,Unhealthy,5.9,Employed,Middle,Low,Higher,Widowed,Urban,False,4.0,3.5,4.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49996.0,56,Other,Rural,87.7,256.8,25.3,71.0,Low,True,Moderate,False,True,9.0,False,True,False,Mixed,7.2,Student,Middle,High,Primary,Divorced,Urban,True,4.0,4.9,1.0,False
49996,49997.0,16,Male,Rural,125.2,102.9,25.1,77.0,Moderate,True,NaN,False,True,3.0,False,False,False,Healthy,6.4,Unemployed,Middle,High,Secondary,Single,Urban,False,3.0,4.4,4.0,True
49997,49998.0,46,Female,Suburban,116.2,160.6,27.7,63.0,Low,True,Moderate,False,False,7.0,False,False,False,Healthy,8.1,Employed,Middle,Low,Secondary,Single,Urban,False,2.0,2.4,7.0,False
49998,49999.0,24,Female,Rural,104.6,180.4,29.2,60.0,Moderate,True,Moderate,False,False,10.0,True,False,False,Healthy,4.1,Unemployed,Low,Moderate,Primary,Widowed,Urban,False,3.0,3.1,5.0,False
49999,50000.0,38,Male,Urban,122.9,89.2,21.8,69.0,Moderate,False,Moderate,False,True,4.0,False,False,True,Unhealthy,4.4,Employed,Low,Moderate,Higher,Single,Urban,False,5.0,2.0,2.0,True

In [50]:
# First 5 rows of the dataset
data.head()

,ID,Age,Gender,Region,Blood_Pressure,Cholesterol,BMI,Heart_Rate,Exercise_Level,Smoking,Alcohol_Consumption,Diabetes,Family_History,Stress_Level,Heart_Attack,Angina,Heart_Disease_History,Diet,Sleep_Hours,Occupation,Income_Level,Physical_Activity,Education_Level,Marital_Status,Urban_Rural,Medication,Health_Awareness,Daily_Water_Intake,Mental_Health,Obesity
0,1.0,50,Male,Rural,110.0,196.5,15.9,76.0,High,False,Moderate,False,False,8.0,False,False,False,Unhealthy,9.4,Unemployed,Low,Low,Primary,Married,Rural,False,5.0,2.3,5.0,False
1,2.0,40,Female,Urban,138.8,157.5,27.1,82.0,Moderate,False,NaN,False,True,5.0,False,True,False,Unhealthy,5.5,Employed,Low,Moderate,Higher,Married,Urban,False,1.0,5.0,4.0,False
2,3.0,26,Male,Rural,116.0,210.1,27.2,71.0,Moderate,False,Moderate,True,False,8.0,False,False,False,Unhealthy,8.8,Employed,Middle,High,Primary,Married,Urban,False,4.0,2.4,8.0,False
3,4.0,54,Female,Rural,133.5,170.5,26.0,74.0,Moderate,True,Moderate,False,True,5.0,False,False,False,Healthy,8.2,Student,Middle,Moderate,Higher,Married,Urban,False,2.0,2.7,6.0,True
4,5.0,19,Female,Urban,108.0,224.5,27.5,67.0,Low,False,NaN,False,True,1.0,False,False,False,Unhealthy,5.9,Employed,Middle,Low,Higher,Widowed,Urban,False,4.0,3.5,4.0,True

In [51]:
# Last 5 rows

data.tail()

,ID,Age,Gender,Region,Blood_Pressure,Cholesterol,BMI,Heart_Rate,Exercise_Level,Smoking,Alcohol_Consumption,Diabetes,Family_History,Stress_Level,Heart_Attack,Angina,Heart_Disease_History,Diet,Sleep_Hours,Occupation,Income_Level,Physical_Activity,Education_Level,Marital_Status,Urban_Rural,Medication,Health_Awareness,Daily_Water_Intake,Mental_Health,Obesity
49995,49996.0,56,Other,Rural,87.7,256.8,25.3,71.0,Low,True,Moderate,False,True,9.0,False,True,False,Mixed,7.2,Student,Middle,High,Primary,Divorced,Urban,True,4.0,4.9,1.0,False
49996,49997.0,16,Male,Rural,125.2,102.9,25.1,77.0,Moderate,True,NaN,False,True,3.0,False,False,False,Healthy,6.4,Unemployed,Middle,High,Secondary,Single,Urban,False,3.0,4.4,4.0,True
49997,49998.0,46,Female,Suburban,116.2,160.6,27.7,63.0,Low,True,Moderate,False,False,7.0,False,False,False,Healthy,8.1,Employed,Middle,Low,Secondary,Single,Urban,False,2.0,2.4,7.0,False
49998,49999.0,24,Female,Rural,104.6,180.4,29.2,60.0,Moderate,True,Moderate,False,False,10.0,True,False,False,Healthy,4.1,Unemployed,Low,Moderate,Primary,Widowed,Urban,False,3.0,3.1,5.0,False
49999,50000.0,38,Male,Urban,122.9,89.2,21.8,69.0,Moderate,False,Moderate,False,True,4.0,False,False,True,Unhealthy,4.4,Employed,Low,Moderate,Higher,Single,Urban,False,5.0,2.0,2.0,True

## **Checking the shape**

In [52]:
data.shape

(50000, 30)

In [53]:
# To check the datatypes 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     49970 non-null  float64
 1   Age                    50000 non-null  int64
 2   Gender                 50000 non-null  object
 3   Region                 49972 non-null  object
 4   Blood_Pressure         49969 non-null  float64
 5   Cholesterol            50000 non-null  float64
 6   BMI                    50000 non-null  float64
 7   Heart_Rate             49909 non-null  float64
 8   Exercise_Level         49820 non-null  object
 9   Smoking                49897 non-null  object
 10  Alcohol_Consumption    24904 non-null  object
 11  Diabetes               49897 non-null  object
 12  Family_History         49897 non-null  object
 13  Stress_Level           49886 non-null  float64
 14  Heart_Attack           49897 non-null  object
 15  Angina                 49858 non-null  object
 16  Heart_Disease_History  49929 non-null  object
 17  Diet                   49929 non-null  object
 18  Sleep_Hours            49929 non-null  float64
 19  Occupation             49862 non-null  object
 20  Income_Level           49929 non-null  object
 21  Physical_Activity      49930 non-null  object
 22  Education_Level        49930 non-null  object
 23  Marital_Status         49905 non-null  object
 24  Urban_Rural            49906 non-null  object
 25  Medication             49931 non-null  object
 26  Health_Awareness       49931 non-null  float64
 27  Daily_Water_Intake     49931 non-null  float64
 28  Mental_Health          49931 non-null  float64
 29  Obesity                49999 non-null  object
dtypes: float64(10), int64(1), object(19)
memory usage: 11.4+ MB

In [54]:
data.describe()

,ID,Age,Blood_Pressure,Cholesterol,BMI,Heart_Rate,Stress_Level,Sleep_Hours,Health_Awareness,Daily_Water_Intake,Mental_Health
count,49970.000000,50000.000000,49969.000000,50000.000000,50000.000000,49909.00000,49886.000000,49929.000000,49931.00000,49931.000000,49931.000000
mean,25015.400340,35.991820,120.058598,199.852762,24.983912,79.98918,5.503027,7.011576,3.00701,2.997505,5.487333
std,14425.412959,14.110139,14.974735,49.998331,5.003784,11.80554,2.871066,1.740563,1.41041,1.149765,2.860831
min,1.000000,12.000000,60.000000,-18.700000,2.900000,60.00000,1.000000,4.000000,1.00000,1.000000,1.000000
25%,12523.250000,24.000000,109.900000,166.100000,21.600000,70.00000,3.000000,5.500000,2.00000,2.000000,3.000000
50%,25015.500000,36.000000,120.000000,199.900000,25.000000,80.00000,6.000000,7.000000,3.00000,3.000000,5.000000
75%,37507.750000,48.000000,130.200000,233.500000,28.400000,90.00000,8.000000,8.500000,4.00000,4.000000,8.000000
max,50000.000000,60.000000,188.400000,398.800000,46.100000,100.00000,10.000000,10.000000,5.00000,5.000000,10.000000

In [55]:
# To check the all columns which are of object datatype
data.describe(include="object")

,Gender,Region,Exercise_Level,Smoking,Alcohol_Consumption,Diabetes,Family_History,Heart_Attack,Angina,Heart_Disease_History,Diet,Occupation,Income_Level,Physical_Activity,Education_Level,Marital_Status,Urban_Rural,Medication,Obesity
count,50000,49972,49820,49897,24904,49897,49897,49897,49858,49929,49929,49862,49929,49930,49930,49905,49906,49931,49999
unique,3,3,3,2,2,2,2,2,2,2,3,4,3,3,3,4,2,2,2
top,Female,Urban,Moderate,False,Moderate,False,False,False,False,False,Healthy,Employed,Middle,Moderate,Secondary,Married,Urban,False,False
freq,24155,25019,24863,34942,19965,42401,29877,44032,44905,42587,19749,25099,19995,24796,20031,25049,30091,39909,39934


# **Check the null values**

In [56]:
# To check the null values
data.isnull().sum()/data.shape[0]*100

ID                        0.060
Age                       0.000
Gender                    0.000
Region                    0.056
Blood_Pressure            0.062
Cholesterol               0.000
BMI                       0.000
Heart_Rate                0.182
Exercise_Level            0.360
Smoking                   0.206
Alcohol_Consumption      50.192
Diabetes                  0.206
Family_History            0.206
Stress_Level              0.228
Heart_Attack              0.206
Angina                    0.284
Heart_Disease_History     0.142
Diet                      0.142
Sleep_Hours               0.142
Occupation                0.276
Income_Level              0.142
Physical_Activity         0.140
Education_Level           0.140
Marital_Status            0.190
Urban_Rural               0.188
Medication                0.138
Health_Awareness          0.138
Daily_Water_Intake        0.138
Mental_Health             0.138
Obesity                   0.002
dtype: float64

In [57]:
# To check the perentage of null values
data.isnull().sum()/data.shape[0]*100

ID                        0.060
Age                       0.000
Gender                    0.000
Region                    0.056
Blood_Pressure            0.062
Cholesterol               0.000
BMI                       0.000
Heart_Rate                0.182
Exercise_Level            0.360
Smoking                   0.206
Alcohol_Consumption      50.192
Diabetes                  0.206
Family_History            0.206
Stress_Level              0.228
Heart_Attack              0.206
Angina                    0.284
Heart_Disease_History     0.142
Diet                      0.142
Sleep_Hours               0.142
Occupation                0.276
Income_Level              0.142
Physical_Activity         0.140
Education_Level           0.140
Marital_Status            0.190
Urban_Rural               0.188
Medication                0.138
Health_Awareness          0.138
Daily_Water_Intake        0.138
Mental_Health             0.138
Obesity                   0.002
dtype: float64

### **Removing Redundant column**

In [58]:
# For removing the id column 
data.drop("ID",axis=1,inplace=True)

In [59]:
data

,Age,Gender,Region,Blood_Pressure,Cholesterol,BMI,Heart_Rate,Exercise_Level,Smoking,Alcohol_Consumption,Diabetes,Family_History,Stress_Level,Heart_Attack,Angina,Heart_Disease_History,Diet,Sleep_Hours,Occupation,Income_Level,Physical_Activity,Education_Level,Marital_Status,Urban_Rural,Medication,Health_Awareness,Daily_Water_Intake,Mental_Health,Obesity
0,50,Male,Rural,110.0,196.5,15.9,76.0,High,False,Moderate,False,False,8.0,False,False,False,Unhealthy,9.4,Unemployed,Low,Low,Primary,Married,Rural,False,5.0,2.3,5.0,False
1,40,Female,Urban,138.8,157.5,27.1,82.0,Moderate,False,NaN,False,True,5.0,False,True,False,Unhealthy,5.5,Employed,Low,Moderate,Higher,Married,Urban,False,1.0,5.0,4.0,False
2,26,Male,Rural,116.0,210.1,27.2,71.0,Moderate,False,Moderate,True,False,8.0,False,False,False,Unhealthy,8.8,Employed,Middle,High,Primary,Married,Urban,False,4.0,2.4,8.0,False
3,54,Female,Rural,133.5,170.5,26.0,74.0,Moderate,True,Moderate,False,True,5.0,False,False,False,Healthy,8.2,Student,Middle,Moderate,Higher,Married,Urban,False,2.0,2.7,6.0,True
4,19,Female,Urban,108.0,224.5,27.5,67.0,Low,False,NaN,False,True,1.0,False,False,False,Unhealthy,5.9,Employed,Middle,Low,Higher,Widowed,Urban,False,4.0,3.5,4.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,56,Other,Rural,87.7,256.8,25.3,71.0,Low,True,Moderate,False,True,9.0,False,True,False,Mixed,7.2,Student,Middle,High,Primary,Divorced,Urban,True,4.0,4.9,1.0,False
49996,16,Male,Rural,125.2,102.9,25.1,77.0,Moderate,True,NaN,False,True,3.0,False,False,False,Healthy,6.4,Unemployed,Middle,High,Secondary,Single,Urban,False,3.0,4.4,4.0,True
49997,46,Female,Suburban,116.2,160.6,27.7,63.0,Low,True,Moderate,False,False,7.0,False,False,False,Healthy,8.1,Employed,Middle,Low,Secondary,Single,Urban,False,2.0,2.4,7.0,False
49998,24,Female,Rural,104.6,180.4,29.2,60.0,Moderate,True,Moderate,False,False,10.0,True,False,False,Healthy,4.1,Unemployed,Low,Moderate,Primary,Widowed,Urban,False,3.0,3.1,5.0,False
49999,38,Male,Urban,122.9,89.2,21.8,69.0,Moderate,False,Moderate,False,True,4.0,False,False,True,Unhealthy,4.4,Employed,Low,Moderate,Higher,Single,Urban,False,5.0,2.0,2.0,True

In [60]:
# Select all the columns with datatype as int and float and exclude the columns with data type object
data.select_dtypes(exclude="object").corr()

,Age,Blood_Pressure,Cholesterol,BMI,Heart_Rate,Stress_Level,Sleep_Hours,Health_Awareness,Daily_Water_Intake,Mental_Health
Age,1.000000,-0.000077,-0.004874,0.002640,-0.003895,0.009186,-0.009278,0.006434,0.002067,-0.000503
Blood_Pressure,-0.000077,1.000000,0.001255,-0.004901,-0.012706,-0.000415,-0.000996,-0.003885,-0.001885,0.003795
Cholesterol,-0.004874,0.001255,1.000000,0.007048,0.002116,0.003889,-0.008502,0.001292,-0.000009,0.000850
BMI,0.002640,-0.004901,0.007048,1.000000,-0.009523,0.003149,0.002985,-0.002935,-0.001401,0.001090
Heart_Rate,-0.003895,-0.012706,0.002116,-0.009523,1.000000,-0.003463,0.007683,-0.001465,0.000007,-0.001496
Stress_Level,0.009186,-0.000415,0.003889,0.003149,-0.003463,1.000000,-0.003275,0.002017,-0.006124,-0.005507
Sleep_Hours,-0.009278,-0.000996,-0.008502,0.002985,0.007683,-0.003275,1.000000,-0.006633,-0.001812,-0.001601
Health_Awareness,0.006434,-0.003885,0.001292,-0.002935,-0.001465,0.002017,-0.006633,1.000000,-0.004528,-0.000186
Daily_Water_Intake,0.002067,-0.001885,-0.000009,-0.001401,0.000007,-0.006124,-0.001812,-0.004528,1.000000,0.001357
Mental_Health,-0.000503,0.003795,0.000850,0.001090,-0.001496,-0.005507,-0.001601,-0.000186,0.001357,1.000000

In [61]:
# do the data have dupicate values

data[data.duplicated()]

Empty DataFrame
Columns: [Age, Gender, Region, Blood_Pressure, Cholesterol, BMI, Heart_Rate, Exercise_Level, Smoking, Alcohol_Consumption, Diabetes, Family_History, Stress_Level, Heart_Attack, Angina, Heart_Disease_History, Diet, Sleep_Hours, Occupation, Income_Level, Physical_Activity, Education_Level, Marital_Status, Urban_Rural, Medication, Health_Awareness, Daily_Water_Intake, Mental_Health, Obesity]
Index: []

In [62]:
[data.duplicated()]

[0        False
 1        False
 2        False
 3        False
 4        False
          ...
 49995    False
 49996    False
 49997    False
 49998    False
 49999    False
 Length: 50000, dtype: bool]

### **Fill the null values**

In [63]:
for i in data.select_dtypes(include="object"):
    data[i].fillna(data[i].mode()[0],inplace=True)

C:\Users\sharm\AppData\Local\Temp\ipykernel_17684\2023589928.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[i].fillna(data[i].mode()[0],inplace=True)
C:\Users\sharm\AppData\Local\Temp\ipykernel_17684\2023589928.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[i].fillna(data[i].mode()[0],inplace=True)

In [84]:
data.Heart_Attack.unique()

array([False,  True])

In [65]:
data.Heart_Attack.mode()

0    False
Name: Heart_Attack, dtype: bool

### **Check the values fill i.e null values**

In [85]:
data.isnull().sum()/data.shape[0]*100

Age                      0.0
Gender                   0.0
Region                   0.0
Blood_Pressure           0.0
Cholesterol              0.0
BMI                      0.0
Heart_Rate               0.0
Exercise_Level           0.0
Smoking                  0.0
Alcohol_Consumption      0.0
Diabetes                 0.0
Family_History           0.0
Stress_Level             0.0
Heart_Attack             0.0
Angina                   0.0
Heart_Disease_History    0.0
Diet                     0.0
Sleep_Hours              0.0
Occupation               0.0
Income_Level             0.0
Physical_Activity        0.0
Education_Level          0.0
Marital_Status           0.0
Urban_Rural              0.0
Medication               0.0
Health_Awareness         0.0
Daily_Water_Intake       0.0
Mental_Health            0.0
Obesity                  0.0
dtype: float64

In [99]:
for i in data.select_dtypes(exclude="object"):
    data[i].fillna(data[i].mean(),inplace=True)

C:\Users\sharm\AppData\Local\Temp\ipykernel_17684\1762379747.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[i].fillna(data[i].mean(),inplace=True)

In [100]:
data.isnull().sum()/data.shape[0]*100

Age                      0.0
Gender                   0.0
Region                   0.0
Blood_Pressure           0.0
Cholesterol              0.0
BMI                      0.0
Heart_Rate               0.0
Exercise_Level           0.0
Smoking                  0.0
Alcohol_Consumption      0.0
Diabetes                 0.0
Family_History           0.0
Stress_Level             0.0
Heart_Attack             0.0
Angina                   0.0
Heart_Disease_History    0.0
Diet                     0.0
Sleep_Hours              0.0
Occupation               0.0
Income_Level             0.0
Physical_Activity        0.0
Education_Level          0.0
Marital_Status           0.0
Urban_Rural              0.0
Medication               0.0
Health_Awareness         0.0
Daily_Water_Intake       0.0
Mental_Health            0.0
Obesity                  0.0
dtype: float64

In [101]:
for i in data.select_dtypes(include=np.number):
    print(i)
    sns.boxplot(data[i])
    plt.show()

Age

NameError: name 'sns' is not defined

In [89]:
plt.Figure(figsize=[5,5])
sns.boxplot(data["Cholesterol"])

NameError: name 'sns' is not defined

In [90]:
data.Heart_rate

AttributeError: 'DataFrame' object has no attribute 'Heart_rate'

In [102]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    50000 non-null  int64
 1   Gender                 50000 non-null  object
 2   Region                 50000 non-null  object
 3   Blood_Pressure         50000 non-null  float64
 4   Cholesterol            50000 non-null  float64
 5   BMI                    50000 non-null  float64
 6   Heart_Rate             50000 non-null  float64
 7   Exercise_Level         50000 non-null  object
 8   Smoking                50000 non-null  bool
 9   Alcohol_Consumption    50000 non-null  object
 10  Diabetes               50000 non-null  bool
 11  Family_History         50000 non-null  bool
 12  Stress_Level           50000 non-null  float64
 13  Heart_Attack           50000 non-null  bool
 14  Angina                 50000 non-null  bool
 15  Heart_Disease_History  50000 non-null  bool
 16  Diet                   50000 non-null  object
 17  Sleep_Hours            50000 non-null  float64
 18  Occupation             50000 non-null  object
 19  Income_Level           50000 non-null  object
 20  Physical_Activity      50000 non-null  object
 21  Education_Level        50000 non-null  object
 22  Marital_Status         50000 non-null  object
 23  Urban_Rural            50000 non-null  object
 24  Medication             50000 non-null  bool
 25  Health_Awareness       50000 non-null  float64
 26  Daily_Water_Intake     50000 non-null  float64
 27  Mental_Health          50000 non-null  float64
 28  Obesity                50000 non-null  bool
dtypes: bool(8), float64(9), int64(1), object(11)
memory usage: 8.4+ MB

In [3]:
x=data.drop("Heart_Attack",axis=1)
y=data.Heart_Attack

NameError: name 'data' is not defined

In [2]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=13)

NameError: name 'train_test_split' is not defined

### **outlier treatment** ###

In [103]:
for i in xtrain.select_dtypes(exclude="object"):
    q1=data[i].quantile(0.25)
    q3=data[i].quantile(0.75)
    iqr=q3-q1
    u=q3+1.5*iqr
    l=q1-1.5*iqr
    data[i]=data[i].clip(lower=l,upper=u)

NameError: name 'xtrain' is not defined

In [107]:
for i in xtrain.select_dtypes(include=np.number):
    q1=data[i].quantile(0.25)
    q3=data[i].quantile(0.75)
    iqr=q3-q1
    u=q3+1.5*iqr
    l=q1-1.5*iqr
    data[i]=data[i].clip(lower=l,upper=u)

NameError: name 'xtrain' is not defined

In [106]:
for i in xtrain.select_dtypes(include="object"):
    print(i)
    print(xtrain[i].unique())

NameError: name 'xtrain' is not defined

In [105]:
xtrain["Exercise_level"]=xtrain["Exercise_level"].apply(lambda x:3 if x=="High" else 1 if x=="Low" else 2)
xtrain["Exercise_level"]=xtest["Exercise_level"].apply(lambda x:3 if x=="High" else 1 if x=="Low" else 2)

NameError: name 'xtrain' is not defined

In [78]:
xtrain.Exercise_level.unique(),xtest.Exercise_level.unique()

NameError: name 'xtrain' is not defined

In [79]:
xtrain.Physical_Activity.unique(),xtest.Physical_Activity.unique()

NameError: name 'xtrain' is not defined

In [80]:
xtrain["income_level"]=xtrain["income_level"].apply(lambda x:3 if x=="High" else 1 if x=="Low" else 2)
xtrain["income_level"]=xtest["income_level"].apply(lambda x:3 if x=="High" else 1 if x=="Low" else 2)

NameError: name 'xtrain' is not defined

In [ ]:
data["Heart_Attack"].value_counts(normalize=True)*100

In [ ]:
data["Heart_attack   "]