In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option("display.max_columns",None)
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split

In [2]:
data =pd.read_csv("heart_attack_russia_youth_vs_adult.csv")

# Heart_Attack is my target variable.

In [3]:
data.head()

,ID,Age,Gender,Region,Blood_Pressure,Cholesterol,BMI,Heart_Rate,Exercise_Level,Smoking,Alcohol_Consumption,Diabetes,Family_History,Stress_Level,Heart_Attack,Angina,Heart_Disease_History,Diet,Sleep_Hours,Occupation,Income_Level,Physical_Activity,Education_Level,Marital_Status,Urban_Rural,Medication,Health_Awareness,Daily_Water_Intake,Mental_Health,Obesity
0,1.0,50,Male,Rural,110.0,196.5,15.9,76.0,High,False,Moderate,False,False,8.0,False,False,False,Unhealthy,9.4,Unemployed,Low,Low,Primary,Married,Rural,False,5.0,2.3,5.0,False
1,2.0,40,Female,Urban,138.8,157.5,27.1,82.0,Moderate,False,NaN,False,True,5.0,False,True,False,Unhealthy,5.5,Employed,Low,Moderate,Higher,Married,Urban,False,1.0,5.0,4.0,False
2,3.0,26,Male,Rural,116.0,210.1,27.2,71.0,Moderate,False,Moderate,True,False,8.0,False,False,False,Unhealthy,8.8,Employed,Middle,High,Primary,Married,Urban,False,4.0,2.4,8.0,False
3,4.0,54,Female,Rural,133.5,170.5,26.0,74.0,Moderate,True,Moderate,False,True,5.0,False,False,False,Healthy,8.2,Student,Middle,Moderate,Higher,Married,Urban,False,2.0,2.7,6.0,True
4,5.0,19,Female,Urban,108.0,224.5,27.5,67.0,Low,False,NaN,False,True,1.0,False,False,False,Unhealthy,5.9,Employed,Middle,Low,Higher,Widowed,Urban,False,4.0,3.5,4.0,True

In [4]:
data.info() #no inconsistent data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     49970 non-null  float64
 1   Age                    50000 non-null  int64
 2   Gender                 50000 non-null  object
 3   Region                 49972 non-null  object
 4   Blood_Pressure         49969 non-null  float64
 5   Cholesterol            50000 non-null  float64
 6   BMI                    50000 non-null  float64
 7   Heart_Rate             49909 non-null  float64
 8   Exercise_Level         49820 non-null  object
 9   Smoking                49897 non-null  object
 10  Alcohol_Consumption    24904 non-null  object
 11  Diabetes               49897 non-null  object
 12  Family_History         49897 non-null  object
 13  Stress_Level           49886 non-null  float64
 14  Heart_Attack           49897 non-null  object
 15  Angina                 49858 non-null  object
 16  Heart_Disease_History  49929 non-null  object
 17  Diet                   49929 non-null  object
 18  Sleep_Hours            49929 non-null  float64
 19  Occupation             49862 non-null  object
 20  Income_Level           49929 non-null  object
 21  Physical_Activity      49930 non-null  object
 22  Education_Level        49930 non-null  object
 23  Marital_Status         49905 non-null  object
 24  Urban_Rural            49906 non-null  object
 25  Medication             49931 non-null  object
 26  Health_Awareness       49931 non-null  float64
 27  Daily_Water_Intake     49931 non-null  float64
 28  Mental_Health          49931 non-null  float64
 29  Obesity                49999 non-null  object
dtypes: float64(10), int64(1), object(19)
memory usage: 11.4+ MB

# Checking redundant columns i.e. ID

In [5]:
data.drop("ID",axis=1,inplace=True)

In [6]:
data.shape

(50000, 29)

In [7]:
data.head(1)

,Age,Gender,Region,Blood_Pressure,Cholesterol,BMI,Heart_Rate,Exercise_Level,Smoking,Alcohol_Consumption,Diabetes,Family_History,Stress_Level,Heart_Attack,Angina,Heart_Disease_History,Diet,Sleep_Hours,Occupation,Income_Level,Physical_Activity,Education_Level,Marital_Status,Urban_Rural,Medication,Health_Awareness,Daily_Water_Intake,Mental_Health,Obesity
0,50,Male,Rural,110.0,196.5,15.9,76.0,High,False,Moderate,False,False,8.0,False,False,False,Unhealthy,9.4,Unemployed,Low,Low,Primary,Married,Rural,False,5.0,2.3,5.0,False

# Checking duplicate rows

In [8]:
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
49995    False
49996    False
49997    False
49998    False
49999    False
Length: 50000, dtype: bool

In [9]:
data[data.duplicated()]

Empty DataFrame
Columns: [Age, Gender, Region, Blood_Pressure, Cholesterol, BMI, Heart_Rate, Exercise_Level, Smoking, Alcohol_Consumption, Diabetes, Family_History, Stress_Level, Heart_Attack, Angina, Heart_Disease_History, Diet, Sleep_Hours, Occupation, Income_Level, Physical_Activity, Education_Level, Marital_Status, Urban_Rural, Medication, Health_Awareness, Daily_Water_Intake, Mental_Health, Obesity]
Index: []

# Checking null values

In [10]:
data.shape

(50000, 29)

In [11]:
data.isnull().sum()/data.shape[0]*100

Age                       0.000
Gender                    0.000
Region                    0.056
Blood_Pressure            0.062
Cholesterol               0.000
BMI                       0.000
Heart_Rate                0.182
Exercise_Level            0.360
Smoking                   0.206
Alcohol_Consumption      50.192
Diabetes                  0.206
Family_History            0.206
Stress_Level              0.228
Heart_Attack              0.206
Angina                    0.284
Heart_Disease_History     0.142
Diet                      0.142
Sleep_Hours               0.142
Occupation                0.276
Income_Level              0.142
Physical_Activity         0.140
Education_Level           0.140
Marital_Status            0.190
Urban_Rural               0.188
Medication                0.138
Health_Awareness          0.138
Daily_Water_Intake        0.138
Mental_Health             0.138
Obesity                   0.002
dtype: float64

In [12]:
data.Heart_Attack.unique()

array([False, True, nan], dtype=object)

In [13]:
d = data[data["Heart_Attack"].isnull()==True].index

In [14]:
d

Index([ 41,  42,  43,  44,  45,  46,  47,  48,  49,  50,
       ...
       267, 289, 290, 291, 292, 293, 294, 295, 296, 297],
      dtype='int64', length=103)

In [15]:
data.drop(d,inplace=True)

# Filling null values

In [16]:
data.isnull().sum()/data.shape[0]*100

Age                       0.000000
Gender                    0.000000
Region                    0.056116
Blood_Pressure            0.000000
Cholesterol               0.000000
BMI                       0.000000
Heart_Rate                0.000000
Exercise_Level            0.154318
Smoking                   0.000000
Alcohol_Consumption      50.089184
Diabetes                  0.000000
Family_History            0.000000
Stress_Level              0.022045
Heart_Attack              0.000000
Angina                    0.090186
Heart_Disease_History     0.002004
Diet                      0.002004
Sleep_Hours               0.002004
Occupation                0.128264
Income_Level              0.002004
Physical_Activity         0.002004
Education_Level           0.002004
Marital_Status            0.044091
Urban_Rural               0.044091
Medication                0.002004
Health_Awareness          0.002004
Daily_Water_Intake        0.002004
Mental_Health             0.002004
Obesity                   0.000000
dtype: float64

In [17]:
for i in data.select_dtypes(include="object"):
    data[i].fillna(data[i].mode()[0],inplace=True)

In [18]:
data.Alcohol_Consumption.mode()[0]

'Moderate'

In [19]:
for i in data.select_dtypes(exclude="object"):
    data[i].fillna(data[i].mean(),inplace=True)

In [20]:
data.isnull().sum()/data.shape[0]*100

Age                      0.0
Gender                   0.0
Region                   0.0
Blood_Pressure           0.0
Cholesterol              0.0
BMI                      0.0
Heart_Rate               0.0
Exercise_Level           0.0
Smoking                  0.0
Alcohol_Consumption      0.0
Diabetes                 0.0
Family_History           0.0
Stress_Level             0.0
Heart_Attack             0.0
Angina                   0.0
Heart_Disease_History    0.0
Diet                     0.0
Sleep_Hours              0.0
Occupation               0.0
Income_Level             0.0
Physical_Activity        0.0
Education_Level          0.0
Marital_Status           0.0
Urban_Rural              0.0
Medication               0.0
Health_Awareness         0.0
Daily_Water_Intake       0.0
Mental_Health            0.0
Obesity                  0.0
dtype: float64

In [21]:
data.Heart_Attack = data["Heart_Attack"].astype(np.number)

C:\Users\ashwi\anaconda3\Lib\site-packages\pandas\core\dtypes\common.py:1645: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  npdtype = np.dtype(dtype)

In [22]:
x=data.drop("Heart_Attack",axis=1)
y = data.Heart_Attack

In [23]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=13)

# Outlier treatment

In [24]:
for i in xtrain.select_dtypes(include=np.number):
    q1=xtrain[i].quantile(0.25)
    q3=xtrain[i].quantile(0.75)
    iqr=q3-q1
    u=q3+1.5*iqr
    l=q1-1.5*iqr
    xtrain[i]=xtrain[i].clip(lower=l,upper=u)

In [25]:
for i in xtrain.select_dtypes(include="object"):
    print(i)
    print(xtrain[i].unique())

Gender
['Male' 'Female' 'Other']
Region
['Urban' 'Suburban' 'Rural']
Exercise_Level
['High' 'Low' 'Moderate']
Smoking
[False True]
Alcohol_Consumption
['Moderate' 'Heavy']
Diabetes
[False True]
Family_History
[False True]
Diet
['Healthy' 'Unhealthy' 'Mixed']
Occupation
['Student' 'Retired' 'Unemployed' 'Employed']
Income_Level
['Middle' 'Low' 'High']
Physical_Activity
['Moderate' 'High' 'Low']
Education_Level
['Primary' 'Higher' 'Secondary']
Marital_Status
['Married' 'Single' 'Widowed' 'Divorced']
Urban_Rural
['Rural' 'Urban']
Obesity
[False True]

## excersie level , alochol consuption , income level , physical activity ,diet 
## education level --- has ordinal data

In [26]:
ordrinal_data = ["Physical_Activity","Income_Level","Exercise_Level"]

In [27]:
for i in ordrinal_data:
    xtest[i]=xtest[i].apply(lambda x: 3 if x=="High"  else  1 if x=="Low"  else 2)
    xtrain[i]=xtrain[i].apply(lambda x: 3 if x=="High"  else  1 if x=="Low"  else 2)

In [28]:
for i in ordrinal_data:
    print(i,xtrain[i].unique(),xtest[i].unique())

Physical_Activity [2 3 1] [3 1 2]
Income_Level [2 1 3] [2 1 3]
Exercise_Level [3 1 2] [3 2 1]

In [29]:
xtest["Diet"]=xtest["Diet"].apply(lambda x: 3 if x=='Healthy'  else  1 if x=='Unhealthy'  else 2)
xtrain["Diet"]=xtrain["Diet"].apply(lambda x: 3 if x=='Healthy'  else  1 if x=='Unhealthy'  else 2)
xtrain["Diet"].unique(),xtest["Diet"].unique()

(array([3, 1, 2], dtype=int64), array([1, 2, 3], dtype=int64))

In [30]:
xtest["Alcohol_Consumption"]=xtest["Alcohol_Consumption"].apply(lambda x: 3 if x=='Heavy'  else  2)
xtrain["Alcohol_Consumption"]=xtrain["Alcohol_Consumption"].apply(lambda x: 3 if x=='Heavy'  else   2)
xtrain["Alcohol_Consumption"].unique(),xtest["Alcohol_Consumption"].unique()

(array([2, 3], dtype=int64), array([2, 3], dtype=int64))

In [31]:
for i in xtrain.select_dtypes(include="object"):
    print(i)
    print(xtrain[i].unique())

Gender
['Male' 'Female' 'Other']
Region
['Urban' 'Suburban' 'Rural']
Smoking
[False True]
Diabetes
[False True]
Family_History
[False True]
Occupation
['Student' 'Retired' 'Unemployed' 'Employed']
Education_Level
['Primary' 'Higher' 'Secondary']
Marital_Status
['Married' 'Single' 'Widowed' 'Divorced']
Urban_Rural
['Rural' 'Urban']
Obesity
[False True]

In [32]:
nomial_1= ["Obesity","Smoking","Diabetes","Family_History","Angina","Heart_Disease_History","Medication"]

In [33]:
for i in nomial_1:
    xtrain[i]=xtrain[i].astype(np.int64)
    xtest[i]=xtest[i].astype(np.int64)
    print(i, xtrain[i].unique(),xtest[i].unique())

Obesity [0 1] [0 1]
Smoking [0 1] [0 1]
Diabetes [0 1] [0 1]
Family_History [0 1] [1 0]
Angina [0 1] [0 1]
Heart_Disease_History [0 1] [1 0]
Medication [0 1] [0 1]

In [34]:
Onehot_dummy=[]

In [35]:
for i in xtrain.select_dtypes(include="object"):
    print(i)
    print(xtrain[i].unique())
    Onehot_dummy.append(i)

Gender
['Male' 'Female' 'Other']
Region
['Urban' 'Suburban' 'Rural']
Occupation
['Student' 'Retired' 'Unemployed' 'Employed']
Education_Level
['Primary' 'Higher' 'Secondary']
Marital_Status
['Married' 'Single' 'Widowed' 'Divorced']
Urban_Rural
['Rural' 'Urban']

In [36]:
Onehot_dummy.pop()

'Urban_Rural'

In [37]:
Onehot_dummy

['Gender', 'Region', 'Occupation', 'Education_Level', 'Marital_Status']

In [38]:
for i in Onehot_dummy:
    xtrain = pd.concat([xtrain,pd.get_dummies(xtrain[i]).astype(np.int64)],axis=1)
    xtrain.drop(i,axis=1,inplace=True)
    xtest = pd.concat([xtest,pd.get_dummies(xtest[i]).astype(np.int64)],axis=1)
    xtest.drop(i,axis=1,inplace=True)
    print(xtrain.shape,xtest.shape)

(39917, 30) (9980, 30)
(39917, 32) (9980, 32)
(39917, 35) (9980, 35)
(39917, 37) (9980, 37)
(39917, 40) (9980, 40)

In [39]:
xtrain

,Age,Blood_Pressure,Cholesterol,BMI,Heart_Rate,Exercise_Level,Smoking,Alcohol_Consumption,Diabetes,Family_History,Stress_Level,Angina,Heart_Disease_History,Diet,Sleep_Hours,Income_Level,Physical_Activity,Urban_Rural,Medication,Health_Awareness,Daily_Water_Intake,Mental_Health,Obesity,Female,Male,Other,Rural,Suburban,Urban,Employed,Retired,Student,Unemployed,Higher,Primary,Secondary,Divorced,Married,Single,Widowed
14674,35,138.5,210.5,25.2,62.0,3,0,2,0,0,10.0,0,0,3,6.5,2,2,Rural,0,5.0,3.5,8.0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0
27505,46,133.4,158.4,29.1,74.0,1,1,2,0,0,7.0,0,0,1,4.5,2,2,Rural,0,1.0,4.2,8.0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0
12911,58,101.8,181.8,29.8,65.0,1,0,2,1,0,8.0,0,0,1,9.2,1,2,Urban,0,5.0,4.4,1.0,0,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0
9921,47,116.0,168.3,27.9,84.0,1,0,2,0,0,2.0,0,0,1,7.6,1,3,Rural,0,1.0,3.2,2.0,1,1,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0
9711,40,119.5,236.5,26.4,84.0,2,0,2,0,0,3.0,1,0,1,4.6,2,3,Urban,0,3.0,3.5,6.0,0,1,0,0,0,0,1,1,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22363,24,116.6,262.1,21.4,71.0,1,1,2,0,0,3.0,0,0,2,5.9,1,2,Urban,0,4.0,3.6,2.0,1,1,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0
33737,34,119.6,250.9,27.9,77.0,2,1,2,1,0,6.0,0,0,3,9.3,2,3,Urban,0,1.0,4.0,9.0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0
32945,32,97.1,154.0,23.6,73.0,2,0,2,0,1,2.0,0,0,2,4.3,1,3,Urban,0,2.0,4.5,7.0,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0
47383,46,110.5,163.5,25.0,81.0,1,0,2,0,0,6.0,0,0,3,4.4,2,2,Rural,0,3.0,2.1,6.0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0
33209,59,109.9,166.4,20.7,60.0,1,0,2,0,1,1.0,0,0,1,5.6,1,2,Rural,0,1.0,4.6,4.0,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0

In [40]:
xtest["Urban_Rural"]=xtest["Urban_Rural"].apply(lambda x:0  if x=='Rural'  else   1)
xtrain["Urban_Rural"]=xtrain["Urban_Rural"].apply(lambda x:0  if x=='Rural'  else   1)
xtrain["Urban_Rural"].unique(),xtest["Urban_Rural"].unique()

(array([0, 1], dtype=int64), array([0, 1], dtype=int64))

In [41]:
xtrain.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39917 entries, 14674 to 33209
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    39917 non-null  int64
 1   Blood_Pressure         39917 non-null  float64
 2   Cholesterol            39917 non-null  float64
 3   BMI                    39917 non-null  float64
 4   Heart_Rate             39917 non-null  float64
 5   Exercise_Level         39917 non-null  int64
 6   Smoking                39917 non-null  int64
 7   Alcohol_Consumption    39917 non-null  int64
 8   Diabetes               39917 non-null  int64
 9   Family_History         39917 non-null  int64
 10  Stress_Level           39917 non-null  float64
 11  Angina                 39917 non-null  int64
 12  Heart_Disease_History  39917 non-null  int64
 13  Diet                   39917 non-null  int64
 14  Sleep_Hours            39917 non-null  float64
 15  Income_Level           39917 non-null  int64
 16  Physical_Activity      39917 non-null  int64
 17  Urban_Rural            39917 non-null  int64
 18  Medication             39917 non-null  int64
 19  Health_Awareness       39917 non-null  float64
 20  Daily_Water_Intake     39917 non-null  float64
 21  Mental_Health          39917 non-null  float64
 22  Obesity                39917 non-null  int64
 23  Female                 39917 non-null  int64
 24  Male                   39917 non-null  int64
 25  Other                  39917 non-null  int64
 26  Rural                  39917 non-null  int64
 27  Suburban               39917 non-null  int64
 28  Urban                  39917 non-null  int64
 29  Employed               39917 non-null  int64
 30  Retired                39917 non-null  int64
 31  Student                39917 non-null  int64
 32  Unemployed             39917 non-null  int64
 33  Higher                 39917 non-null  int64
 34  Primary                39917 non-null  int64
 35  Secondary              39917 non-null  int64
 36  Divorced               39917 non-null  int64
 37  Married                39917 non-null  int64
 38  Single                 39917 non-null  int64
 39  Widowed                39917 non-null  int64
dtypes: float64(9), int64(31)
memory usage: 12.5 MB

In [42]:
xtest.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9980 entries, 10873 to 48458
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    9980 non-null   int64
 1   Blood_Pressure         9980 non-null   float64
 2   Cholesterol            9980 non-null   float64
 3   BMI                    9980 non-null   float64
 4   Heart_Rate             9980 non-null   float64
 5   Exercise_Level         9980 non-null   int64
 6   Smoking                9980 non-null   int64
 7   Alcohol_Consumption    9980 non-null   int64
 8   Diabetes               9980 non-null   int64
 9   Family_History         9980 non-null   int64
 10  Stress_Level           9980 non-null   float64
 11  Angina                 9980 non-null   int64
 12  Heart_Disease_History  9980 non-null   int64
 13  Diet                   9980 non-null   int64
 14  Sleep_Hours            9980 non-null   float64
 15  Income_Level           9980 non-null   int64
 16  Physical_Activity      9980 non-null   int64
 17  Urban_Rural            9980 non-null   int64
 18  Medication             9980 non-null   int64
 19  Health_Awareness       9980 non-null   float64
 20  Daily_Water_Intake     9980 non-null   float64
 21  Mental_Health          9980 non-null   float64
 22  Obesity                9980 non-null   int64
 23  Female                 9980 non-null   int64
 24  Male                   9980 non-null   int64
 25  Other                  9980 non-null   int64
 26  Rural                  9980 non-null   int64
 27  Suburban               9980 non-null   int64
 28  Urban                  9980 non-null   int64
 29  Employed               9980 non-null   int64
 30  Retired                9980 non-null   int64
 31  Student                9980 non-null   int64
 32  Unemployed             9980 non-null   int64
 33  Higher                 9980 non-null   int64
 34  Primary                9980 non-null   int64
 35  Secondary              9980 non-null   int64
 36  Divorced               9980 non-null   int64
 37  Married                9980 non-null   int64
 38  Single                 9980 non-null   int64
 39  Widowed                9980 non-null   int64
dtypes: float64(9), int64(31)
memory usage: 3.1 MB